@model Market_Shop.Models.Product_type

@{
    ViewData["Title"] = "Детально";
}

<h1>Детально</h1>

<div>
    <h4>Тип продуктов</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_types)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratio_Product_types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratio_Product_types)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться в список</a>
</div>
