@model Market_Shop.Models.Partners

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Partners</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Patners_Type_id" class="control-label"></label>
                <select asp-for="Patners_Type_id" class="form-control" asp-items="ViewBag.Patners_Type_id"></select>
                <span asp-validation-for="Patners_Type_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patners_Type_name" class="control-label"></label>
                <input asp-for="Patners_Type_name" class="form-control" />
                <span asp-validation-for="Patners_Type_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addres_Partners" class="control-label"></label>
                <input asp-for="Addres_Partners" class="form-control" />
                <span asp-validation-for="Addres_Partners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INN" class="control-label"></label>
                <input asp-for="INN" class="form-control" />
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
