@model Market_Shop.Models.Product

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Продукты</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Product_typeId" class="control-label"></label>
                <select asp-for="Product_typeId" class="form-control" asp-items="ViewBag.Product_typeId"></select>
                <span asp-validation-for="Product_typeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_Product" class="control-label"></label>
                <input asp-for="Name_Product" class="form-control" />
                <span asp-validation-for="Name_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Артикул" class="control-label"></label>
                <input asp-for="Артикул" class="form-control" />
                <span asp-validation-for="Артикул" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Min_cost_" class="control-label"></label>
                <input asp-for="Min_cost_" class="form-control" type="number" />
                <span asp-validation-for="Min_cost_" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
