@model Market_Shop.Models.Patners_type

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить ?</h3>
<div>
    <h4>Тип парнера</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patners_types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patners_types)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться в список</a>
    </form>
</div>
