@model Market_Shop.Models.Patners_type

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Парнера тип</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Patners_types" class="control-label"></label>
                <input asp-for="Patners_types" class="form-control" />
                <span asp-validation-for="Patners_types" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться в список</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
